.banner-event {
    img {
        width: 100%;
    }
}

.set_attribute {
    display           : flex;
    // flex-direction: column;
    // justify-content: space-between;
}

.event-page {

    .view-past,
    .month-calendar {
        p {
            font-size       : 13px;
            color           : #ffffff;
            height          : 30px;
            border          : solid 1px rgba(0, 0, 0, 0);
            background-color: #343642;
            width           : 100%;
            margin          : 0;
            text-align      : center;
            line-height     : 30px;
        }
    }

    .view-past {
        p {
            background: #ec2031;
        }
    }

    .view-last {
        padding: 30px 0;
    }

    padding-top: 15px;

    .main-event-page {
        .filter-by-category {
            background   : #fff;
            margin-top   : 30px;
            padding-left : 10px;
            padding-right: 10px;

            h4 {
                font-size     : 14px;
                font-weight   : 600;
                color         : #343642;
                padding-top   : 10px;
                padding-bottom: 15px;
                font-family   : Montserrat-Black;
            }

            .list-filter {
                li {
                    border-bottom : 1px solid #EDEAE5;
                    padding-bottom: 5px;

                    a {
                        font-size: 14px;
                        color    : #343642;

                        &:hover {
                            color      : #ff543c;
                            font-weight: bold;
                        }
                    }

                    .active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.event-page {
    .event-study {
        background    : #fff;
        padding       : 0 35px;
        padding-bottom: 100px;
        margin-bottom : 60px;

        .event-title {
            .event-link {
                display        : flex;
                justify-content: space-between;
                padding-top    : 30px;
                padding-bottom : 20px;

                h1 {
                    font-size: 30px;
                    color    : #343642;
                }

                h2 {
                    font-size: 20px;
                    color    : #343642;
                }

                h3 {
                    font-size: 18px;
                    color    : #343642;
                }

                h4 {
                    font-size: 17px;
                    color    : #343642;
                }

                h5 {
                    font-size: 16px;
                    color    : #343642;
                }

                h6 {
                    font-size: 15px;
                    color    : #343642;
                }

                .go-to {
                    a {
                        font-size     : 14px;
                        color         : #ec2031;
                        border-bottom : 1px solid #ec2031;
                        padding-bottom: 5px;

                        i {
                            padding-left: 10px;
                        }
                    }
                }
            }

            h3 {
                font-size  : 14px;
                color      : #343642;
                font-family: Montserrat-Black;
            }

            .big-picture {
                position      : relative;
                background    : #F8F8F8;
                padding       : 0 5px;
                padding-bottom: 30px;
                margin-bottom : 20px;

                .month-day {
                    position        : absolute;
                    width           : 50px;
                    background-color: #ec2031;
                    text-align      : center;
                    top             : 5px;
                    left            : 10px;
                    padding         : 0 5px;
                    padding-bottom  : 5px;

                    p {
                        font-size  : 14px;
                        font-weight: 600;
                        margin     : 0;
                        color      : #ffffff;
                    }

                    .have-border {
                        border-bottom: 1px solid #fff;
                    }
                }
            }

            .img-event {
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : cover;
                width              : 100%;
            }

            .big-img-col4 {
                padding-bottom: 5px;
            }

            .have-height {
                width              : 100%;
                min-height         : 400px;
                background-repeat  : no-repeat;
                background-position: center;
                background-size    : cover;

                img {
                    width  : 100%;
                    padding: 0;
                }
            }

            .go-to-link {
                text-align: right;

                a {
                    font-size     : 14px;
                    color         : #343642;
                    border-bottom : 1px solid #707070;
                    padding-bottom: 5px;

                    &:hover {
                        color          : #ff543c;
                        font-weight    : bold;
                        text-decoration: none;
                    }

                    i {
                        padding-left: 10px;
                    }
                }
            }

            .tex-event-course {
                h2 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                    color    : #707070;

                }


            }

            .small-txt-course {
                h6 {
                    a {
                        font-size  : 14px;
                        font-weight: 600;
                        color      : #343642;
                    }
                }
            }
        }
    }
}

.event-page {
    .go-to {
        .search-input {
            position: relative;

            input {
                width           : 294px;
                height          : 35px;
                border          : solid 1px #707070;
                background-color: #ffffff;
                font-size       : 14px;
                color           : #8f8f8f;
                padding-left    : 20px;
            }

            i {
                color      : #cb0c0c;
                position   : absolute;
                right      : 22px;
                top        : 4px;
                padding    : 5px 5px 5px 9px;
                border-left: solid 1px #707070;
                cursor     : pointer;
            }

        }
    }
}

@media(max-width: 991px) {
    .event-page .event-study .event-title .event-link {
        display: block;
    }

    .event-page .event-study .event-title .big-picture {
        width: 100%;
    }

    .event-page .go-to .search-input i {
        color   : #cb0c0c;
        position: absolute;
        top     : -3px;
        padding : 5px 10px;
        cursor  : pointer;
    }

    .event-page .go-to .search-input {
        width: 310px;
    }
}

@media(max-width: 575px) {
    .event-detail-page .about-us .main-event-detail {
        width: 100% !important;
    }

    .event-page .event-study {
        padding: 0;
    }

    .event-link {
        padding-left: 15px;
    }
}

@media(max-width: 480px) {
    .event-page .go-to .search-input input {
        width: 220px;
    }

    .event-page .go-to .search-input i {
        position: absolute;
        right   : 85px;
        top     : -3px;
    }

    .event-page .go-to .search-input {
        width: 265px;
    }
}