.form-2 {
	.form-control {
		margin-bottom: 10px;
		border-radius: 9px;
	}
	.btn-submit {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: none;
	    background: #27ae60 url("../images/icon-mail.png") no-repeat scroll center center;
	}
}