body {
	font-family: SimplonNorm-light;
	color: #343642 !important;
}

.separator {
	width: 60px;
	height: 3px;
	background-color: #ec2031;
	padding-top: 5px;
	margin-bottom: 35px;
	margin-top: 15px;
}

.btn-link {
	width: 160px;
	height: 40px;
	border-radius: 4px;
	background-color: #ec2031;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #ffffff !important;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none !important;


	&:hover {
		text-decoration: none;
		color: #fff;
	}

}
